# Ignore node_modules directory for both backend and frontend
**/node_modules

# Ignore any log files
**/*.log

# Ignore any temporary files
**/tmp

# Ignore any system-specific files
.DS_Store

# Ignore any backup files
**/*~
